{% load staticfiles %}

<html>
<body ng-app="TestApp">
<div ng-controller="AppController as ctrl">
	<h2>Areas</h2>
	    <div ng-repeat="area in ctrl.areas">
            <h3><span ng-bind="area.name"></span>,<span ng-bind="area.description"></span></h3>
            <div ng-repeat="product_category in area.product_categories">
            	<span ng-bind="product_category.name"></span>,
            	<span ng-bind="product_category.description"></span>
            </div>
	    </div>
</div>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular/angular-resource.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>