{% load staticfiles %}

<html>
<body ng-app="ImpresosApp">

	<ui-view></ui-view>

	<!-- Libraries -->
	<script src="{% static 'lib/angular.min.js' %}"></script>
	<script src="{% static 'lib/angular-resource.min.js' %}"></script>
	<script src="{% static 'lib/angular-ui-router.min.js' %}"></script>


	 <!-- Modules -->
	<script src="{% static 'js/src/impresosapp/impresosapp.module.js' %}"></script>

	<!-- Routes -->
  	<script src="{% static 'js/src/routes.js' %}"></script>

  	<!-- App Artifacts -->
  	<script src="{% static 'js/src/impresosapp/impresosapp.controller.js' %}"></script>
  	<script src="{% static 'js/src/impresosapp/impresosapp.resources.js' %}"></script>
   	<script src="{% static 'js/src/impresosapp/services.component.js' %}"></script>
   	<script src="{% static 'js/src/impresosapp/services.controller.js' %}"></script>
    <script src="{% static 'js/src/impresosapp/products.controller.js' %}"></script>
    <script src="{% static 'js/src/impresosapp/products.component.js' %}"></script>

</body>
</html>
