{% load staticfiles %}

<html>
<body ng-app="TestApp">
<div ng-controller="AppController as ctrl">
	<h2>Productos:</h2>
	<h3>Areas</h3>
	    <div ng-repeat="area in ctrl.areas">
            <span ng-bind="area.name"></span>,<span ng-bind="area.description"></span>
            <ul ng-repeat="product_category in area.product_categories">
            	<li><span ng-bind="product_category.name"></span>,
            	<span ng-bind="product_category.description"></span></li>
            </ul>
	    </div>
	<h2>Servicios:</h2>
	<ul ng-repeat="service in ctrl.services">
		<li><span ng-bind="service.name"></span>,<span ng-bind="service.description"></span></li>
	</ul>
</div>
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular/angular-resource.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>